<div id="about" style="margin:0;padding:30px;">

	<p>
		<%= link_to "BBChatter", root_path %> was written by 
		<%= link_to "Jarrett Meyer", "http://jarrettmeyer.com" %> as a way to learn
		<%= link_to "BackboneJS", "http://backbonejs.org" %>.
	</p>

	<p>
		Want to know more? All of the source code is available on
		<%= link_to "Github", "https://github.com/jarrettmeyer/bbchatter" %>.
	</p>


	<h2>Blog Posts</h2>

	<ul>
		<li> <%= link_to "Part 1: Server-Side Models", "http://jarrettmeyer.com/blog/2012/10/25/learning-backbonejs-part-1/" %>
		<li> <%= link_to "Part 2: Server-Side Controllers and Routes", "http://jarrettmeyer.com/blog/2012/10/29/learning-backbonejs-part-2/" %>
	</ul>

</div>